<main>

	<% if user_signed_in? %>
	<div id="new-post-form-container">
		<%= form_for @post do |f| %>
			<%= f.label :content, "Add Post" %>
			<%= f.text_area :content, placeholder: "Type Here" %>
			<%= f.submit %>
		<% end %>
	</div>
	<% end %>

	<div id="posts-list-container">
		<ul id="posts-list">
			<% @posts.each do |p| %>
				<li class="post">
					<div class="post-content">
						<p>
						<%= p.content %>
						</p>
						<p class="post-destroy-link">
							<%= link_to "X", post_path(p.id), method: :delete %>
						</p>
					</div>
					<div class="post-comments-container">
						<%= form_for p.comments.new do |f| %>
							<%= f.hidden_field :post_id, value: p.id %>
							<%= f.text_area :content, placeholder: "Add Comment" %>
							<%= f.submit %>
						<% end %>
						<ul class="comments-list">
							<% @post.comments.each do |com| %>
							<li>
								<p>
									<%= com.content %>
								</p>
							</li>
							<% end %>
						</ul>
					</div>
				</li>
			<% end %>
		</ul>
	</div>


</main>