<!DOCTYPE html>
<html>
<head>
  <title>Allsocial</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'components/test', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'components/test', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<header id="body-header">
		<div id="page-logo">
			<%= link_to "/" do%>
				<%= image_tag("reddit-logo.png") %>
			<% end %>
		</div>

		<div id="auth-links">
			<ul>
				<% if !user_signed_in? %>
					<% if !current_page?(new_user_session_path) %>
					<li>
						<p>
							<%= link_to "Sign In", new_user_session_path %>
						</p>
					</li>
					<% end %>
					<% if !current_page?(new_user_registration_path) %>
					<li>
						<p>
							<%= link_to "Sign Up", new_user_registration_path %>
						</p>
					</li>
					<% end %>
				<% else %>
				<li>
					<p><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></p>
				</li>
				<% end %>
				
			</ul>
		</div>
	</header>

<%= yield %>

</body>
</html>
